body {
    margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
    background: url(../img/bg.png);
    background-size: cover;
    filter: blur(150%) opacity(85%);
}

a {
    text-decoration: none;
    color: teal;
}

a:hover {
    text-decoration: none;
    color: #7fbfbf;
}

.profile {
	border-radius: 4%;
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
}

.profile header .avatar {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.profile header .bio {
    height: 150px;
}

.profile header .bio h1 {
    margin: 0 0 0 20px;
    font-weight: 200;
    font-size: 40px;
    color: white;
}

.profile header .bio h5 {
    margin: 0 20px 0 20px;
    font-size: 20px;
    font-weight: 200;
    color: white;
}

.profile header .bio p {
    margin: 0 20px;
    font-size: 14px;
	font-weight: 200;
	color: white;
	text-align: center;
}

.profile .links {
  ` margin: 0;
  ``padding: 0;
}

.profile .links .link {
	display: inline-block;
	padding: 5px;
	font-size: 32px;
	color: white;
	text-decoration: none;
	transition: all ease-in-out 250ms;
}
.profile .links .link.steam:hover {
    color: #171a21;
}

.profile .links .link.discord:hover {
    color: #738ADB;
}

.profile .links .link.github:hover {
    color: #211F1F;
}

.profile .links .link.reddit:hover {
    color: #FF4500;
}

.profile .links .link.blog:hover {
    color: #FF5722;
}

